/* General */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Raleway:wght@300&display=swap');


:root {
  --content-bg: #f5576c;
/*  dark pallete*/
  --primary-color: #19191a;
  --secondary-color: #101010;
  --thrid-color: #020202;
}


body {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: var(--primary-color);

}

/* Header section */

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(-45deg, rgba(18, 3, 31, 0.8) 0%, rgba(2, 13, 14, 0.7) 100%), url("../imgs/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin-bottom: 3%;
}

.header h1 {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  text-decoration: overline;
  font-size: 2.2em;
  margin: 10% 0;
  color: cornsilk;
}

.header p {
  font-size: 2.4em;
}

.header a {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 100, 100, 0.4);
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-size: 2.5em;
  padding: 0.1em 0;
  transition: background 0.3s ease-in-out;
}

.header a:hover {
  background: var(--content-bg);
  color: #fff;
  border: none;
  opacity: 1;
}

/* End header */

.container {
  width: 100%;
}

/* Courses products */

.course-box {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  background: linear-gradient(#444, #00000090);
  color: #f2f2f2;
  transition: box-shadow .2s ease;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}


.course-img {
  display: block;
  width: 100%;
/*  height: 70%;*/
  height: 360px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-text {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.container-text h2 {
  margin: 5px 0;
  font-size: 1.6em;
}

.container-text p {
  text-align: justify;
  font-size: 1.2em;
  margin: 10px 0;
}

.container ul.price {
  display: block;
  position: relative;
  width: 100%;
}

.container-text li {
  display: inline-block;
  list-style: none;
}

.container-text li.old_price {
  color: ccc;
  text-decoration: line-through;
  margin: 0 2%;
  font-size: 1.5em;
}

.container-text li.current_price {
  color: #3f751b;
  font-size: 1.6em;
}

.container-text li a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #090;
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  border-radius: 50%;
}


/* Galery  */
.galery {
  max-width: 100%;
  text-align: center;
}

.galery-title {
  background-color: var(--secondary-color);
  border-top: 3px solid var(--thrid-color);
  border-bottom: 3px solid var(--thrid-color);
  color: #f3f3f3;
  font-size: 2.2em;
  padding: 10px;
}

.galery-img {
  max-width: 100%;
  margin: 15px auto;
}

.galery-box-img {
  display: block;
  width: 90%;
  margin: 2% auto;
  height: 340px;
  border: 5px solid var(--secondary-color);
  transition: box-shadow .2s ease-in-out;
}

.galery-box-img:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}
.galery-box-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


/* Footer */
footer {

  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  width: 100%;
}

footer h2 {
  font-size: 2em;
  padding: 1.2% 0;
}

footer p {
  font-size: 1.3rem;
}

.input {
  width: 40%;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.8rem;
  margin: 1.3%;
}

form {
  width: 100%;
}

.input::placeholder {
  color: #fff;
}

textarea.input {
  width: 83%;
}

.btn {
  width: 83%;
  text-align: center;
  padding: 8px 0;
  margin-top: 20px;
  cursor: pointer;
  transition: transform .4s;
}

.btn:hover {
  transform: scale(1.01);
  background-color: #501;
}

@media only screen and (min-width: 768px) {

  .galery-box-img {
    display: inline-block;
    width: 45%;
    margin: 10px;
  }
}

@media only screen and (min-width: 992px){
  .galery-img {
    max-width: 95%;
  }
  .galery-box-img {
    width: 30%;
  }
  .course-box {
    border-radius: 5px;
  }
  .course-img {
    width: 50%;
  }

  .container-text {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }
}

@media(hover: hover) {

  .course-box:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  }
}