@page {
    size: A4;
    margin: 0;
}

@media print {
    img, button {
        display: none;
    }
    body {
        width: 85%;
        margin: 0 auto;
    }
    h1, h2 {
        text-align: center;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
}