@page {
  size: A4;
  margin: 0;
}
@media print {
    #name {
        position: absolute;
        top: -1300px;
        z-index: 3;
        color: #444;
    }
    .container {
        border: none;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
        box-shadow: none;
    }
    .flags {
        display: none;
    }
    .profile_text .profile_img  {
        display: none;
    }
    .skill-icon {
        display: none !important;
    }
    /* .about:first-child {
      position: absolute;
      top: -700px;
    } */
    .contact_info  {
      /* position: absolute; */
      width: 100%;
      padding: 0 !important;
    }
    .contact_info .title {
        color: #333 !important;
        text-decoration: none !important;
        border: none !important;
    }

    .contact_info ul li span.text {
        padding: 0 !important;
        color: #333 !important;
    }
    .right_side {
        width: 90%;
        margin: 0 auto;
        padding: 0!important;
    }
    .about {
         margin-bottom: 0 !important;
    }
     .skills{
        background-color: #333;
        margin-bottom: 90px !important;
    }
    i {
        display: none !important;
    }


}