/* @import url('https://fonts.googdleapis.com/css2?family=Raleway:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #003148 50%, #fafafa 0%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  border: 1px solid #003148;
  margin: 50px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container a {
  display: inline-block;
  color: inherit;
}


.container .left_side {
  position: relative;
  background: #003148;
  padding: 40px;
}

.flags {
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.flag__item {
  width: 70px;
  border: 2px solid #fff;
  margin-right: 12px;
}

.flag__img {
  display: block;
  cursor: pointer;
}

.profile_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile_text h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
}

.profile_text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.profile_text .profile_img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #000, #444);
}

.profile_text .profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact_info {
  padding-top: 40px;
}

.contact_info .title {
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #53b5e2;
  ;
  display: inline-block;
}

.contact_info ul {
  position: relative;

}

.contact_info ul li {
  position: relative;
  margin: 10px 0;
  list-style: none;

}

.contact_info ul li .icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  color: #53b5e2;
}

.contact_info ul li span {
  color: #fff;
  font-weight: 300;
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  color: #53b5e2;
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contact_info.education h4 {
  color: #fff;
  font-weight: 300;
}

/* // LANGUAGE SECTION  */
.contact_info.langs .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #012333;
  display: block;
  margin-top: 5px;
  border-radius: 2px;
}

.contact_info.langs .percent div {
  background: #53b5e2;
  border-radius: 2px 0 0 2px;
  height: 100%;
}

.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title-about {
  color: #003148;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about p {
  color: #333;
}

.about .box {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0;
}

.about .box .year-company {
  min-width: 150px;
}

.about .box .year-company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #cff;
  border-radius: 4px;
}

.skills .box .percent div {
  background: linear-gradient(to right, #00496b, #3eaadb);
  height: 100%;
  border-radius: 4px 0 0 4px;
}

/* /Interest */
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa-solid {
  color: #03a9f4;
  font-size: 18px;
  width: 25px;
  text-align: center;
}

/* Media queries */
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year-company {
    margin-bottom: 10px;
  }

  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(hover: hover) {}