@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --box-border: #BEC1BB;
  --white: #fff;
  --main-bg: #E8EBE4;
  --secondary: #A491D2;
  --secondary-hover: #CDC3E6;
  --gray: #BEC1BB;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Open Sans Regular';
  background: var(--main-bg);
  height: 100vh;
}

body.dark {
  --main-bg: #000;
}

.container {
  display: flex;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 249);
}

.main-section .logo {
  width: 13rem;
  height: 13rem;
  justify-content: center;
  align-self: center;
  margin-bottom: 3%;
}

.main-section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-section h2 {
  font-size: 40px;
  text-align: center;
}

.main-section p {
  font-size: 14px;
  text-align: center;
}

.chat-section {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.box-chat {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border: 1px solid var(--box-border);
  align-items: center;
  background: var(--white);
}

.perfil-thumbnail {
  margin: auto;
  width: 2.4rem;
  height: 2.4rem;
}

.perfil-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.text-primary {
  width: 40%;
}

.text-primary h4 {
  font-family: 12px;
  font-weight: normal;

}

.text-primary p {
  font-size: 10px;
  color: var(--gray);
}


.perfil {
  margin: auto;
  width: 2.8rem;
  height: 2.8rem;
}

.box-chat .perfil img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.box-chat .icons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.box-chat .icons i {
  cursor: pointer;
}

.box-btn {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border: 1px solid var(--box-border);
  align-items: center;
  background: var(--white);
}

.box-btn button {
  text-align: center;
  padding: 4% 10%;
  width: 60%;
  margin: auto;
  border: none;
  background: var(--secondary);
  color: var(--white);
  cursor: pointer;
}

.box-btn button:hover {
  background: var(--secondary-hover);
}


.box-btn button:focus {
  background: var(--gray);
}

.box-chat .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.box-chat .text h4 {
  font-size: 14px;
  font-weight: normal;
}

.box-chat .text p {
  font-size: 10px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .chat-section {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .chat-section {
    width: 100%;
    margin-bottom: 3%;
  }

  .perfil-thumbnail {
    width: 4rem;
    height: 3.6rem;
  }

  .text-primary h4 {
    font-size: 1.4rem;
  }

  .text-primary p {
    font-size: 1rem;
  }

  .box-chat {
    height: 90px;
  }

  .perfil {
    width: 4.6rem;
    height: 4.1rem;
  }

  .text {
    margin: 0;
    margin-right: 4%;
  }

  .box-chat .text h4 {
    font-size: 1.3rem;
  }

  .box-chat .text p {
    font-size: 0.9rem;
  }

  .main-section {
    width: 100%;
    padding: 6%;
  }
}