@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Courier, monospace;
    max-width: 100%;
    background: #ccc;
}

.container-grid {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
    gap: 10px;

}

header.header {
    grid-area: header;
    background-color: rgb(42, 82, 122);
    text-align: center;
    color: #fff;
    height: 2.5rem;
    line-height: 2.5rem;
}

aside.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 13%;
}

aside.sidebar h3 {
    margin-bottom: 10px;
    color: rgb(52, 54, 57);
    font-size: 1.1rem;
}

aside.sidebar span {
    opacity: 0.8;
    color: gray;
    font-size: 0.9rem;
}

main.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-right: 10px;
}

footer.footer {
    grid-area: footer;
    background-color: #fff;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
}

.flex-product {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}


.flex-product button {
    display: block;
    width: 100%;
    background: rgb(42, 82, 122);
    border: 0;
    padding: 0.8rem;
    color: #fff;
    cursor: pointer;
}

.flex-product .img-container {
    width: 100%;
    height: 70%;
}

.flex-product .img-container img {
    width: 100%;
    height: 100%;
}


.flex-product #last {
    padding-top: 25px;
    height: 75%;
}



.details {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}