@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "sans-serif";
    width: 100%;
    height: 100vh;
}

.container-grid {
    display: grid;
    grid-template-areas:
        'navigation'
        'search'
        'main'
        'footer';
}

nav {
    grid-area: navigation;
    background: rgb(2, 53, 2);
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.menu {
    display: none;
}

button.btn {
    border: none;
    font-size: 1.5rem;
    background: transparent;
    color: #fff;
    cursor: pointer;

}

.brand {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
}

.icon {
    margin-right: 10px;
    line-height: 2.2rem;
}

header {
    grid-area: search;
    width: 100%;
    text-align: center;
    background: #ccc;
    padding: 2% 0;
}

select {
    width: 80%;
    padding: 1.5% 0;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
}

main {
    grid-area: main;
    width: 100%;
}

article.flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 6px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 3% auto;
}

article .image {
    width: 95%;
    height: 100%;
    margin: auto;
}

article .image img {
    width: 100%;
    height: 100%;
}

.btn-ver {
    background-color: rgb(2, 53, 2);
    color: #fff;
    padding: 1% 0;
    border-radius: 5px;
    border: none;
    margin: 2% auto;
    width: 5rem;
    font-size: 1rem;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}













/* .menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu li {
    margin: 0 1%;
} */