* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  background: #292929;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  text-align: center;
}

table {
  margin: 50px auto;
  /* border: 2px solid #494949; */
  border-collapse: collapse;
  text-align: center;
}

table th {
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid #444;
}

table td {
  font-size: 1.3rem;
  border: 1px solid #444;
  text-align: left;
  padding: 3px 9px 3px 3px;
}

table td:nth-child(1) {
  background: #333;
  color: #fff;
}

select {
  font-size: 28px;
  margin-top: 30px;
}