.banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center;
}

.banner-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .3),
        0 2px 4px rgba(0, 0, 0, .3),
        -2px 0 4px rgba(0, 0, 0, .3),
        0 -2px 4px rgba(0, 0, 0, .3);
    color: dimgrey;
}

.banner-upload-btn:hover {
    cursor: pointer;
}

.blog {
    width: 70vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title,
.article {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.title::placeholder,
.article::placeholder {
    color: #2d2d2d;
}

.article {
    height: 500px;
    font-size: 22px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.blog-options {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    margin: 0 10px;
}

.btn {
    cursor: pointer;
}

.btn.grey {
    background: #a5a5a5;
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
}