* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #282828;
  padding: 30px 0;
  transition: opacity .6s;
  opacity: 0;
}

.loaded {
  opacity: 1;
}

.container {
  text-align: center;
  color: #ccc;
  background: #393939;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5),
    0 3px 2px rgba(0, 0, 0, 0.5),
    -3px 0 2px rgba(0, 0, 0, 0.5),
    0 -3px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.input-group {
  padding: 10px;
  font-size: 2rem;
  border-radius: 10px;
}

.input-group p {
  margin-bottom: 10px;
}

.input-group input {
  font-size: 1.7rem;
  width: 80%;
  padding: 0 4px;
}

.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.select-group {
  padding: 10px;
  font-size: 2rem;
}

.select-group select {
  font-size: 1.5rem;
  margin: 5px 0;
  width: 80%;

}

.btn {
  border: 0;
  font-size: 1.5rem;
  padding: 7px 15px;
  border-radius: 5px;
  margin-top: 20px;
  background: #ccc;
  text-transform: uppercase;
  transition: background .3s ease-in;
}


#result {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-size: 1.9rem;
  text-transform: uppercase;
}

#result span {
  background-color: #000;
  padding: 3px 6px;
  border-radius: 5px;
}

.container-chart {
  width: 80%;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5),
    0 3px 2px rgba(0, 0, 0, 0.5),
    -3px 0 2px rgba(0, 0, 0, 0.5),
    0 -3px 2px rgba(0, 0, 0, 0.5);
  background-color: #393939;
  border-radius: 10px;
  color: #fff;
  opacity: 0;
  transition: opacity .4s;
}

footer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  text-align: left;
  border-radius: 25px;
  padding: 5px;
  margin: 2vh 2vh 0 0;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5),
    0 3px 2px rgba(0, 0, 0, 0.5),
    -3px 0 2px rgba(0, 0, 0, 0.5),
    0 -3px 2px rgba(0, 0, 0, 0.5);
}

p a {
  display: inline-block;
  text-decoration: none;
}

p a:visited {
  color: #444;
}

p>a i.fa-brands {
  color: #444;
  font-size: 2em;
  transition: transform .1s ease-in-out;
  margin: 0 4px;
}

p>a i.fa-brands:hover {
  transform: scale(1.1);
}

p>a i.fa-github:hover {
  color: rgba(0, 0, 0, 0.5);
}

p>a i.fa-linkedin-in:hover {
  color: #0a66c2;
}

@media (max-width: 576px) {
  body {
    max-width: 100%;
    /* background: #000; */
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .container-chart {
    width: 90%;
  }
}

@media (hover: hover) {
  .btn:hover {
    background: #111111;
    color: #ccc;
    cursor: pointer;
  }
}