* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* scroll-behavior: auto; */
}

:root {
    --headings: #358;
    --paragraphs: #444;
    --main-background: #fff;
    --doc-background: #f1f1f1;
    --links: #4163f0;
    --tags: #306dcb;
    --comments: #136113;
    --hr: #999;
    ---imgs: invert(1);
}

/* FONTS CODE*/
@font-face {
    font-family: fa;
    src: url(../public/fonts/JetBrainsMono-Regular.ttf);
}

/* FONTS NORMAL*/
@font-face {
    font-family: encode-sans;
    src: url(../public/fonts/EncodeSansSemiExpanded-Regular.ttf);
}

body {
    width: 100%;
    margin: 0;
    padding-top: 70px;
    background: var(--main-background);
    transition: .3s ease all;
}

body.dark {
    --paragraphs: hsl(0, 0%, 83%);
    --doc-background: hsl(0, 0%, 15%);
    --main-background: hsl(0, 0%, 10%);
    --headings: hsl(10, 10%, 90%);
    --links: hsl(10, 100%, 90%);
    --tags: hsl(257, 41%, 77%);
    --comments: hsl(120, 28%, 63%);
    ---imgs: invert(0);
}

/* CUSTOM ELEMENTS*/
enidev-details {
    display: block;
    background: var(--doc-background);
    margin: 0;
    padding: 0;
    border: 2px solid var(--paragraphs);
}

body .doc-body {
    font-family: encode-sans, sans-serif;
    padding: 45px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 9px #00000040;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 23px;
    font-weight: 500;
    color: var(--paragraphs);
    background-color: var(--doc-background);
    position: relative;
}

.doc-body a {
    background: transparent;
    color: var(--links);
    text-decoration: none;
}

.doc-body hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 3px;
    padding: 0;
    margin: 16px 0;
    background: var(--hr);
    border: 0 none;
}

.doc-body figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px auto;
}

.doc-body figure img {
    width: 100%;
}
.doc-body figure img.filter {
    filter: var(---imgs);
}


figcaption {
    background: var(--paragraphs);
    color: var(--doc-background);
    font: italic smaller sans-serif;
    padding: 6px;
    text-align: center;
}


/*ENCABEZADOS*/
.doc-body h1,
.doc-body h2,
.doc-body h3,
.doc-body h4,
.doc-body h5,
.doc-body h6 {
    margin: 13px 0;
    line-height: 1.1rem;
    letter-spacing: 0.09rem;
}

.doc-body h1,
.doc-body h2,
.doc-body h3 {
    margin: 35px 0;
}

.doc-body h1 a,
.doc-body h2 a,
.doc-body h3 a,
.doc-body h4 a {
    text-decoration: none;
    text-underline-offset: 10px;
    color: var(--headings);
}

/*MARGENES ELEMENTOS*/
.doc-body p,
.doc-body blockquote,
.doc-body ul,
.doc-body ol,
.doc-body dl,
.doc-body table,
.doc-body pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.doc-body p {
    margin: 20px 0;
    position: relative;
}

.doc-body em,
.doc-body i {
    margin: 0 8px;
}

/* LISTAS */
.doc-body ul,
.doc-body ol {
    padding: 0 0 0 2em;
    margin: 20px 0;
    list-style-position: outside;
}
.doc-body ul {
    list-style-type: square;
}
.doc-body ul li {
    margin: 6px 0;
}


.doc-body ul>ul{
    margin: 5px 0;
}



/*UTILITIES*/
.html-tag {
    font-weight: bold;
    color:  var(--tags);
}
.html-tag::before {
    content: "<";
 }
.html-tag::after {
    content: ">";
}

.doc-body .highlight {
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 2px 2px 12px #00000060;
}
/* .doc-body .highlight::before {
    content : 'monokay'; 
    pointer-events: all;
    position: absolute;
    top: -10px;
    left: 5px;
    cursor:pointer;
    background-color: #306dcb;
} */
.doc-body .highlight > * {
    padding: 0;
    margin: 0;
}
@counter-style winners-list {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}

/* KBD */
.doc-body kbd {
    background-color: var(--main-background);
    border-radius: 2px;
    border: 1px solid #ccc;
    color: var(--paragraphs);
    font-family: Verdana;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* font: 13px Consolas, "Liberation Mono", Menlo,
      Courier,
      monospace; */
    box-shadow: 1px 2px 2px #00000080;
    margin: 0 3px;
    user-select: none;
    border-radius: 2px 2px 8px 8px;
    -webkit-user-select: none;
}

/* MEDIA QUERIES */
@media(min-width: 992px) {
    .doc-body {
        width: 90%;
        margin: 30px auto;
        line-height: 30px;
    }
}

@media(min-width: 1200px) {
    .doc-body {
        width: 80%;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .doc-body h1 {
        font-size: 48px;
    }
    .doc-body h2 {
        font-size: 38px;
    }
    .doc-body h3 {
        font-size: 28px;
    }
    .doc-body p {
        line-height: 27px;
    }
    .doc-body h1,
    .doc-body h2,
    .doc-body h3 {
        margin: 45px 0;
    }
}

/**HOVER*/
@media(hover: hover) {

    .doc-body a:active,
    .doc-body a:hover {
        outline: 0;
        text-decoration: underline;
    }
}
/**SELECTIONS */
.doc-body p::selection,
.doc-body strong::selection,
.doc-body a::selection,
.doc-body em::selection,
.doc-body h1::selection,
.doc-body h2::selection,
.doc-body h3::selection,
.doc-body h4::selection { 
    color: var(--main-background); 
    text-shadow: none;
    background-color: var(--paragraphs);
}