@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container-grid {
  width: 100%;
  display: grid;
  grid-template-areas:
    'navigation'
    'search'
    'main'
    'footer';
}

nav {
  width: 100%;
  background: #03579c;
  color: #fff;
  grid-area: navigation;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.brand {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-left: 2%;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.text {
  align-items: center;
}

button.open-menu {
  background: #03579c;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: none;
  width: 100%;
  cursor: pointer;
}

header {
  grid-area: search;
  background: rgb(224, 223, 223);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

select {
  padding: 8px;
  border-radius: 5px;
}


main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

article.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin: 5% auto;
}

.img {
  width: 90%;
  height: 100%;
  margin: auto;
}

.img img {
  width: 100%;
  height: 100%;
}

.description {
  margin: 2% 0;
}

button.btn {
  background: #03579c;
  border: none;
  padding: 6px 10px;
  color: #fff;
  border-radius: 6px;
  margin: 2% auto;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% auto auto auto;
  color: #2a8bdb;
  cursor: pointer;
}

.pag,
.prev,
.next {
  border: 1px solid #ccc;
  padding: 5px;
}

.prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #023d6e;
  color: #fff;
  padding: 8px 15px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}

br {
  display: none;
}

article.tablet {
  display: none;
}

article.desktop {
  display: none;
}

/* Tablet */
@media (min-width: 576px) {
  .container-grid {
    grid-template-areas:
      'navigation navigation'
      'search main'
      'footer footer'
    ;
  }

  article.mobile {
    display: none;
  }

  article.desktop {
    display: none;
  }

  article.tablet {
    display: flex;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 100%;
    text-align: center;
  }

  .menu li {
    width: 100%;
    line-height: 3.2rem;
  }

  button.open-menu {
    display: none;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  select {
    margin-top: 15px;
    width: 100%;
  }

  .pagination {
    grid-column: span 2;
  }

}

/* Desktop */
@media (min-width: 992px) {

  .container-grid {
    grid-template-areas:
      'navigation search'
      'navigation main'
      'footer main'
    ;
  }

  article.mobile {
    display: none;
  }

  article.tablet {
    display: none;
  }


  article.desktop {
    display: flex;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
  }

  nav {
    flex-direction: column;
    justify-content: start;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu li {
    margin: 0;
  }

  .brand {
    font-size: 1rem;
    justify-content: center;
    padding: 3% 0;
  }

  button.open-menu {
    display: none;
  }


  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  select {
    margin-top: 15px;
  }

  .pagination {
    grid-column: span 4;
  }

  br {
    display: inline;
  }

}

/* Media Hover */
@media (hover: hover) {

  .pag:hover,
  .prev:hover,
  .next:hover {
    background-color: #023d6e;
    color: #fff;
  }

  .menu li:hover {
    background-color: #023d6e;
  }

  footer a:active {
    color: rgb(255, 142, 49);
  }

}