* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: jetbrains-mono;
  src: url(../fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: fira-code;
  src: url(../fonts/FiraCode.ttf);
}

:root {
  --light-gray: #f7f7f7;
  --light-gray-2: #cfcfb9;
  --dark-gray: #4f4f4f;
  --dark-gray-2: #777;
  --background: #fff;
  --foreground: #333333;
  --shadow: rgba(0, 0, 0, 0.4);
}


body {
  width: 100%;
  margin: auto;
}

body .markdown-body {
  padding: 45px;
  border: 1px solid var(--light-gray);
  box-shadow: 2px 3px 9px var(--shadow);
  background: var(--background);
  font-family: jetbrains-mono, monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--foreground);
}

.markdown-body a {
  background: transparent;
  color: #4163f0;
  text-decoration: none;
}

.markdown-body b,
.markdown-body strong {
  font-weight: bold;
}

.markdown-body html input[disabled] {
  cursor: default;
}

.markdown-body img {
  border: 0;
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* HEADINGS */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 13px 0;
  line-height: 1.1;
  letter-spacing: 0.03rem;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 2px solid var(--light-gray);
}

.markdown-body h2 {
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid var(--light-gray);
}

.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
  text-transform: uppercase;
}

.markdown-body h4 {
  font-size: 1.25em;
}

.markdown-body h5 {
  font-size: 1em;
}

.markdown-body h6 {
  font-size: 1em;
  color: #777;
}

/* MARGIN ELEMENTS */
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body .admonition {
  margin-top: 0;
  margin-bottom: 16px;
}

/* IMAGES */
.markdown-body img {
  border-radius: 3px;
  box-shadow:
    2px 0 2px var(--shadow),
    0 2px 2px var(--shadow),
    -2px 0px 2px var(--shadow);
  ;
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-body img.logo {
  box-shadow: none !important;
}

.markdown-body hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background: var(--light-gray);
  border: 0 none;
}

.markdown-body pre {
  overflow: auto;
}

/* CODE */
.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
  font-family: fira-code, monospace;
  font-size: 1em;
  font-weight: bold;
}

.markdown-body code,
.markdown-body samp {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: var(--light-gray);
  border-radius: 3px;
  border: 1px solid var(--light-gray-2);
}

.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .codehilite {
  margin-bottom: 16px;
}


.markdown-body .codehilite pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
}

.markdown-body .codehilite pre,
.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  line-height: inherit;
  overflow: initial;
  background-color: transparent;
  word-wrap: normal;
  border: 0;
}

.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}

/* Admonition */
.markdown-body .admonition {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  border-left: 6px solid #333;
  border: 1px solid #e0e0e0;
  padding: 10px 10px 10px 30px;
}

.markdown-body .admonition table {
  color: #333;
}

.markdown-body .admonition p {
  padding: 0;
}

.markdown-body .admonition-title {
  font-weight: bold;
  margin: 0;
}

.markdown-body .admonition>.admonition-title {
  color: #445;
}

.markdown-body .attention>.admonition-title {
  color: #a6d796;
}

.markdown-body .caution>.admonition-title {
  color: #dc9a82;
}

/* FontAwesome */
.fa-clone {
  color: #d2c1f2;
  position: absolute;
  right: 25px;
  font-size: 1rem;
}

/* LISTS */
.markdown-body ul,
.markdown-body ol {
  padding: 0 0 0 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body>p {
  margin-top: 16px;
}

/* BLOCKQUOTE */
.markdown-body blockquote {
  padding: 0 15px;
  color: #9d73dd;
  border-left: 2px solid #d2c1f2;
}

.markdown-body blockquote>:first-child {
  margin-top: 2px;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

/* =====END===== */
/* KBD */
.markdown-body kbd {
  background-color: var(--light-gray);
  background-image: -moz-linear-gradient(#fefefe,
      var(--light-gray));
  background-image: -webkit-linear-gradient(#fefefe,
      var(--light-gray));
  background-repeat: repeat-x;
  border-radius: 2px;
  border: 1px solid var(--light-gray-2);
  color: var(--dark-gray);
  padding: 2px 5px;
  line-height: 10px;
  font: 13px Consolas, "Liberation Mono", Menlo,
    Courier,
    monospace;
  display: inline-block;
  box-shadow: 1px 2px 2px var(--shadow);
}

/* TABLES */
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown-body table th {
  font-weight: bold;
}

/* PRINT STYLE */
@media print {
  .markdown-body * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  .markdown-body {
    font-size: 12pt;
    max-width: 100%;
    width: 100% !important;
    outline: none;
    border: 0;
    margin: 0 !important;
    box-shadow: none !important;
  }

  .markdown-body a,
  .markdown-body a:visited {
    text-decoration: underline;
  }

  .markdown-body .headeranchor-link {
    display: none;
  }

  .markdown-body a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown-body abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown-body .ir a:after,
  .markdown-body a[href^="javascript:"]:after,
  .markdown-body a[href^="#"]:after {
    content: "";
  }

  .markdown-body pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .markdown-body pre,
  .markdown-body blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  .markdown-body .progress,
  .markdown-body .progress-bar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .markdown-body .progress {
    border: 1px solid #ddd;
  }

  .markdown-body .progress-bar {
    height: 22px;
    border-right: 1px solid #ddd;
  }

  .markdown-body tr,
  .markdown-body img {
    page-break-inside: avoid;
  }

  .markdown-body img {
    max-width: 100% !important;
  }

  .markdown-body p,
  .markdown-body h2,
  .markdown-body h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3 {
    page-break-after: avoid;
  }
}

/* ===END=== */

/* ===MEDIA QUERIES=== */
@media only screen and (min-width: 480px) {
  body {
    max-width: 768px;
    width: 100%;
    margin: 0;
  }

  .markdown-body {
    font-size: 14px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 992px;
    width: 100%;
  }

  .markdown-body {
    width: 100%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(to right top, #916e86, #8b6983, #85647f, #7f607c, #795b79, #6a5775, #5b5370, #4d4e69, #394759, #2e3e47, #293336, #272828);
  }

  .markdown-body {
    width: 90%;
    font-size: 16px;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 100%;
    max-width: 1600px;
  }

  .markdown-body {
    width: 75%;
    font-size: 17px;
    margin: 30px auto;
  }
}

/* ===END MEDIA QUERIES=== */

/* HOVER */
@media (hover: hover) {

  .markdown-body a:active,
  .markdown-body a:hover {
    outline: 0;
    text-decoration: underline;
  }

  /* KBD HOVER */
  .markdown-body kbd:hover {
    cursor: pointer;
  }

  .markdown-body kbd:active {
    color: #0086b3;
    transform: translateY(2px);
  }

  /* Botones hover */
  .fa-clone:hover {
    cursor: pointer;
  }
}