* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Colors */
:root {
	--dark: #212529;
	--dark-light: #707070;
	--light: #F8F9FA;
	--white: #fff;
	--success: #28a745;
	--black: #000;
}

body {
	font-family: monospace, Verdana, "Century gothic";
	background-color: var(--light);
	width: 100%;
}

.card {
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.50);
	animation: movelogo 1s infinite alternate;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: movecard;
}


@keyframes movecard {
	0% {

		transform: scale(1);
	}

	100% {
		transform: scale(1.01);
	}

}


/* .options {
	display: block;
	position: absolute;
	float: right;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid red;
	text-align: center;
	visibility: hidden;
	background-color: rgba(10, 0, 55, 0.7);
	border-radius: 5px;
	text-align: center;
	transition: all 500ms ease-in-out !important;
}

.container-fluid .options a {
	position: relative;
	top: 50%;

} */

/* .container-fluid .carousel-item:hover>.options {
	opacity: 1;
	visibility: visible;
} */


/*Buttons carousel*/
.carousel-control-next-icon {
	background-image: url("../images/button/next.png");
	/* transform: scale(1); */
	width: 3vw;
	height: 6vh;
}

.carousel-control-prev-icon {
	background-image: url("../images/button/previous.png");
	/* transform: scale(1); */
	width: 3vw;
	height: 6vh;
}

/* Media querie */
@media screen and (max-width: 670px) {


	body {
		background: #ccc;
	}

	.carousel-control-next-icon {
		display: none;
	}

	.carousel-control-prev-icon {
		display: none;
	}
}