   * {
     margin: 0;
     box-sizing: border-box;
     letter-spacing: 1px;
     font-family: Verdana, sans-serif;
     text-transform: capitalize;
   }

   body {
     min-height: 100vh;
     max-width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(45deg, #444 50%, #333 50%);
     background-attachment: fixed;
     padding: 2vw;
   }

   .container {
     min-height: 50vh;
     max-width: 100vw;
     min-width: 30vw;
     background: #fff;
     font-size: 0.8rem;
     border-radius: 5px;
     box-shadow: 0 5px 10px rgba(223, 187, 187, 0.5);
     padding: 10px;
     overflow-y: auto;
     border: 2px solid rgb(255, 226, 226);
   }

   .input-group {
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-align: center;
     position: relative;
   }

   .input-group i.fa-pen-to-square {
     position: absolute;
     margin-left: 10px;
     top: 4vh;
     color: rgb(247, 237, 225);
   }

   #input {
     height: 5vh;
     width: 90%;
     outline: none;
     border: none;
     border-radius: 3px;
     background: #666;
     color: #fff;
     padding: 0 30px;
     margin: 15px 0;
     font-size: 2.5vh;
   }

   button {
     text-transform: uppercase;
     height: 100%;
     background: rgb(114, 218, 150);
     border-radius: 3px;
     border: none;
     padding: 5px;
     transition: transform .1s ease-in-out;
   }

   button:hover {
     cursor: pointer;
     background: rgb(29, 176, 81);
     color: #fff;
     transform: scale(1.1);
   }

   #input::placeholder {
     color: #bbb;
     text-align: center;
   }

   #input::selection {
     background-color: rgb(242, 164, 80);
   }

   ul {
     padding: 0;
     margin: 0;
   }

   ul li {
     position: relative;
     background: #eee;
     width: 100%;
     color: #333;
     height: 6vh;
     border-radius: 3px;
     margin: 1.5vh 0vw;
     padding: 1.5vh 7vw 1.5vh 1.5vh;
     list-style: none;
     font-style: italic;
   }

   ul .fa-check,
   .fa-trash {
     position: absolute;
     margin: 0 1vw;
     cursor: pointer;
   }

   ul .fa-check {
     color: green;
     right: 3.5vh;
   }

   ul .fa-trash {
     color: red;
     right: 0.5vh;
   }

   ul .checked {
     background: lightgreen;
     text-decoration: line-through;
   }

   footer {
     display: block;
     position: fixed;
     top: 0;
     right: 0;
     min-width: 10vh;
     max-width: 20vh;
     min-height: 6vh;
     background-color: #fff;
     text-align: left;
     border-radius: 5vw;
     padding: 0.5vh 1vh 0 1vh;
     margin: 2vh 2vh 0 0;
   }

   footer p {
     display: inline-block;
     width: 100%;
     height: 100%;
     font-size: 4vh;
     text-align: center;
   }

   p a {
     cursor: pointer;
     display: inline-block;
     height: 100%;
     text-decoration: none;
     text-align: left;
     transition: .3s;
   }

   p a:visited {
     color: #444;
   }

   p>a i.fa-brands {
     color: #444;
     transition: transform .1s ease-in-out;
   }

   p>a i.fa-brands:hover {
     transform: scale(1.1);
   }

   p>a i.fa-github:hover {
     color: rgba(0, 0, 0, 0.5);
   }

   p>a i.fa-linkedin-in:hover {
     color: #0a66c2;
   }