  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


  html {
    background: #ccc;
  }

  body {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    margin: 10px auto;
    padding: 30px;
    background: #f2f2f2;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.4);
  }

