  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    background: linear-gradient(to left, #fff, #ccc);
    height: 100%;
    display: flex;
  }

  body {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    width: 85%;
    margin: auto;
    background: linear-gradient(to left, #fff, #ccc);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.4);
    position: relative;

  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
    letter-spacing: 0.6vw;
    text-transform: uppercase;
    display: none;
  }

  h3 {
    font-size: 2.5vw;
    margin-bottom: 1.2vw;
    background: #555;
    letter-spacing: 0.1vw;
    display: inline-block;
    padding: 0.7vw;
    margin: 0 auto 1vw 0;
    border-radius: 3px;
    color: rgb(250, 234, 250);
  }


  hr {
    display: none;
    width: 100%;
    height: 1px;
    background: #000;
    margin: 0 auto;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12vw 0 0;
    height: 25vw;
    width: 100%;
  }

  header img {
    filter: brightness(1.2);
    border-radius: 9px;
    width: 20vw;
    height: 20vw;
    border: 2px solid #ccc;
    transition: transform .3s ease;
    align-self: flex-end;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3vw;
    font-size: 1.5vw;
    width: 100%;
    transition-duration: .2s;
    transition-property: background-color, color;
    transition-timing-function: ease-in;
  }

  section p,
  section ul li,
  ol {
    list-style: none;
  }

  section ul li img {
    width: 1.7vw !important;
    height: 1.5vw !important;
  }

  section.information {
    position: absolute;
    top: 4vw;
    left: 12vw;
  }


  footer {
    font-size: 1.8vw;
    width: 90%;
    margin: 0 auto;
  }

  footer blockquote a {
    text-decoration: none;
  }

  footer blockquote a img {
    width: 4vw;
    transition: filter .4s ease;
  }

  button#btn {
    background: linear-gradient(to left, #222, #333);
    font-size: 2vw;
    border: 0;
    padding: 1vw 3vw;
    cursor: pointer;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
  }

  @media (hover:hover) {
    header img:hover {
      transform: scale(1.03);
      filter: drop-shadow(2px 2px 12px #ccc);
      filter: brightness(1.3);
    }

    section:hover {
      color: #fff;
      filter: brightness(2);
      background-color: rgba(0, 0, 0, 0.9);
    }
    section.information:hover{
      background: none;
      filter: brightness(1);
      color: #333;
    }

    footer blockquote a img:hover {
      filter: opacity(0.4) drop-shadow(1px 1px 14px gray);
    }
  }
